<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Activity Tracker</title>
  <link defer type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
  <script defer type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script defer type="text/javascript" src="./index.js"></script>
</head>

<body>
  <div id="console" class="container">
    <h1>Logs</h1>
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Module</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody id="logs">

      </tbody>
    </table>
  </div>
</body>

</html>
